# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

# Site settings
url: ''
baseurl: ''
title: 'PPMG Burgas Challenge'
description: 'PPMG Burgas Challenge'
permalink: pretty
logo: "/assets/logo.png"

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Новини
  url: /blog/
- title: За нас
  url: /team/
- title: Пето издание 2023
  url: /current/
- title: Задачи
  url: /problems/
- title: Предишни издания
  url: /past-papers/
- title: Предай решения
  url: /submit/


# Footer nav
navigation_footer:
- title: Към началото
  url: "#top"

# Collections
collections:
  posts:
    title: Новини
    output: true
    description: ""
    feature_text: |
      
    feature_image: "https://burgaschallenge.github.io/assets/board2.jpg"

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages
